%h1= @repository.url

%form.pure-form
  #progress.pure-u-1-2
    .text 0 of 0
    .bar
  %input#filter.pure-input-1-2.pure-input{type: "text", placeholder: "filter"}
#grouped
  #graph_chart
#timeline
  #highlight
  .lowlight.left
  .lowlight.right
  #x-marker
.left.slider
.right.slider

#commit-tooltip.tooltip
