= form_for @repository, html: {class: 'pure-form'} do |f|
  .field
    = f.text_field :url, class: 'pure-input-rounded pure-input-1', placeholder: "enter url of repo to churn here", autocomplete: 'off', tabindex: 1
