%h1= @repository.url
%table
  %tr
    %td Changes
    %td File
  - @repository.files.sort_by(&:changes).reverse.each do |file|
    %tr
      %td{class: 'changes'}= file.changes
      %td{class: 'filename'}= file.filename
