%h1= @repository.url
%table
  %tr
    %td Additions
    %td Deletions
    %td Filename
  - @repository.aggregate_all_file_changes.each do |file|
    %tr
      %td{class: "changes"}= file.second
      %td{class: "changes"}= file.third
      %td= file.first
