#grouped
  div
.label_chart
  max-width: 40%
  line-height: 21px
  float: left
  padding-right: 10px
  // text-anchor: end

.changes:hover
  &.additions
    fill: #6f6
  &.deletions
    fill: #f66

.file-names
  margin-left: 10px
  overflow: hidden
  text-align: right
  direction: rtl

#timeline
  position: fixed
  bottom: 0

.additions
  fill: #6f6
.deletions
  fill: #f66