#grouped
  margin-bottom: 200px
  margin-top: 40px

.label_chart
  max-width: 40%
  line-height: 23px
  float: left
  padding-right: 10px

.additions
  fill: rgba(45, 255, 45, 0.5)
  stroke: rgba(45, 255, 45, 1)
  &:hover
    fill: rgba(45, 255, 45, 0.7)
.deletions
  fill: rgba(255, 45, 45, 0.5)
  stroke: rgba(255, 45, 45, 1)
  &:hover
    fill: rgba(255, 45, 45, 0.6)

.changes:hover
  &.additions

.file-names
  margin-left: 10px
  overflow: hidden
  text-align: right
  direction: rtl
  color: #555
  font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif

#timeline
  position: fixed
  background-color: white
  box-shadow: 0 -1px 10px rgba(0,0,0, 0.5)
  bottom: 0
  right: 0
  left: 0
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -o-user-select: none
  user-select: none

.slider
  position: fixed
  height: 110px
  width: 5px
  background-color: blue
  bottom: 0
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  opacity: 0.6
  border: 2px solid black
  &:hover
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4)
  &.right 
    cursor: default
    left: 90%
    background-color: green
  &.left 
    cursor: default
    left: 10%

.bar-label
  fill: #fff
