// Place all the styles related to the repository controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.field_with_errors input { border: 1px solid red; }

h1, form { text-align: center; }
table { margin: 0 auto; }
td.changes { text-align: right; }
td { padding: 0 5px; }
